# OpenAPI 3.0.3 is used instead of 3.1.0 for compatibility with oapi-codegen.
# oapi-codegen v2.x does not fully support OpenAPI 3.1 features.
#
# This spec drives the customer-facing API reference (Scalar). Before
# adding or editing any rendered string (description, summary, example,
# enum labels, tag/server/info fields), read the "Audience: openapi.yaml
# is customer-facing" section in docs/claude/api-codegen.md. Do not
# leak internal implementation (AWS primitives, DynamoDB internals,
# internal hostnames, middleware names, internal repo refs, deployment
# codenames).
openapi: 3.0.3
info:
  title: qURL™ Service API
  description: |
    API for managing qURL resources — secure, time-limited access links to protected resources.

    **Quantum URL (qURL)** · The internet has a hidden layer. This is how you enter.

    ## Authentication
    The public API requires Auth0 JWT tokens or API keys with appropriate scopes:
    - `qurl:read` - Read access to qURLs and quota
    - `qurl:write` - Create, update, and delete qURLs
    - `qurl:resolve` - Resolve access tokens and grant network access (headless)
    - `qurl:agent` - Bootstrap LayerV qURL Connector agents (POST /v1/agent/bootstrap)
    - `qurl:write` also covers webhook management

    ## Rate Limiting

    Per-owner limits are configurable and vary by plan. Rate-limit
    exceeded responses include a `Retry-After` header.

    ## Idempotency
    Mutating endpoints (POST, PUT, PATCH) support idempotency via the `Idempotency-Key` header.
    When provided, the response is cached and subsequent requests with the same key return
    the cached response with `Idempotency-Replayed: true` header.

    ## Response Envelope
    All responses use a consistent envelope format:
    ```json
    {
      "data": { ... },      // For success responses
      "error": { ... },     // For error responses (RFC 7807 format)
      "meta": {
        "request_id": "...",
        "page_size": 20,    // For list responses
        "has_more": true,   // For list responses
        "next_cursor": "..."// For list responses
      }
    }
    ```

    ## Error Responses (RFC 7807)
    Error responses follow [RFC 7807 Problem Details](https://datatracker.ietf.org/doc/html/rfc7807)
    with `Content-Type: application/problem+json`:
    ```json
    {
      "error": {
        "type": "https://api.qurl.link/problems/invalid_request",
        "title": "Invalid Request",
        "status": 400,
        "detail": "The target_url field must be a valid HTTPS URL",
        "instance": "/v1/qurls",
        "code": "invalid_request"
      },
      "meta": { "request_id": "..." }
    }
    ```
    For validation errors, an additional `invalid_fields` map is included.

    ## Caching
    GET endpoints support ETag-based caching. Include `If-None-Match` header with
    the ETag value to receive a 304 Not Modified response when content hasn't changed.

    ## Object Model

    - **Resource** (`r_` prefix): Long-lived container grouped by target URL. Holds metadata
      (tags, description, custom domain). Auto-created on first qURL for a target URL.
    - **qURL / Access Token** (`q_` display ID, `at_` token): Short-lived, policy-bound access
      token. Belongs to one Resource. Owns expiry, access policy, session limits.
    - **Access Link**: The `qurl.link/at_xxx` URL returned once at creation time.

    The `/v1/qurls` endpoints are resource-centric — `{id}` accepts both resource IDs (`r_`)
    and qURL display IDs (`q_`). Per-qURL management uses
    `DELETE /v1/resources/{id}/qurls/{qurl_id}` to revoke individual tokens.

    ## Webhooks
    Subscribe to events via webhook endpoints. Webhook payloads are signed with
    HMAC-SHA256 using your webhook secret. Verify the `QURL-Signature` header.
  version: 1.0.0
  contact:
    name: LayerV
    url: https://layerv.ai

servers:
  - url: https://api.layerv.ai
    description: Production

security:
  - bearerAuth: []

tags:
  - name: QURLs
    description: qURL resource management
  - name: Quota
    description: Usage quota information
  - name: Webhooks
    description: Webhook endpoint management
  - name: API Keys
    description: API key management (JWT-only, API keys cannot manage API keys)
  - name: Usage
    description: Usage and billing period information (JWT-only)
  - name: Customer
    description: Customer profile and billing settings (JWT-only)
  - name: Billing
    description: Stripe checkout, portal, and invoices (JWT-only)
  - name: Resolution
    description: Headless qURL resolution for AI agents and programmatic clients
  - name: Domains
    description: Custom domain management (enterprise plan)
  - name: Access Codes
    description: Access code management for protected resource sharing
  - name: Resources
    description: Resource management — groups qURLs by target URL
  - name: Connectors
    description: Plugin connections that let qURL mint and report on resources owned by external workspaces, guilds, and systems.
  - name: Agent
    description: Bootstrap endpoint for the LayerV qURL Connector agent
  - name: Sessions
    description: Active access-session inspection and termination for a resource

paths:
  /v1/resolve:
    post:
      tags:
        - Resolution
      summary: Resolve a qURL access token (headless)
      description: |
        Resolves a qURL access token and triggers an NHP knock to grant network access
        for the caller's IP address. Returns the target URL that the caller can access
        directly for the duration of the access grant.

        This endpoint is designed for AI agents and programmatic clients that cannot
        follow the browser-based qURL flow.

        **Important:** Access is granted to the IP address making this request.
        The `src_ip` in the response reflects which IP was granted access.

        **One-time tokens:** If the token is one-time-use and the NHP knock fails after
        token resolution, the token is consumed but no access is granted. Multi-use
        tokens can be retried.
      operationId: resolveQurl
      security:
        - bearerAuth: [qurl:resolve]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveQurlRequest'
            example:
              access_token: "at_k8xqp9h2sj9lx7r4abcdef"
      responses:
        '200':
          description: Token resolved and network access granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveQurlResponse'
              example:
                data:
                  target_url: "https://api.example.com/data"
                  resource_id: "r_k8xqp9h2sj9"
                  access_grant:
                    expires_in: 305
                    granted_at: "2026-03-09T15:30:00Z"
                    src_ip: "203.0.113.42"
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/agent/bootstrap:
    post:
      tags:
        - Agent
      summary: Bootstrap a LayerV qURL Connector agent
      description: |
        Registers a LayerV agent's X25519 public key and returns the
        NHP peer info the agent needs to perform its first knock.

        Re-bootstrapping with a new `public_key` for the same
        `agent_id` is idempotent (key rotation).

        **Authentication:** API key with the `qurl:agent` scope. JWTs
        are rejected with 403.

        **Rate limit:** 10 per hour per API key.

        **Audit:** every outcome is recorded.
      operationId: postV1AgentBootstrap
      security:
        - bearerAuth: [qurl:agent]
      # Operation-level `servers:` declares the customer-facing
      # canonical hosts for this operation. Scalar and other OpenAPI
      # 3.0.x renderers honor op-level Servers (they OVERRIDE the root
      # `servers:` block for the specific operation's docs render), so
      # customers reading the API reference see "POST /v1/agent/bootstrap
      # on bootstrap.layerv.{ai,xyz}" — matching the customer install
      # guidance (qurl-reverse-tunnel-client's docs/install-docker.md
      # directs sidecars to bootstrap.layerv.*).
      #
      # Runtime caveat: kin-openapi v0.135 (`routers/gorillamux/
      # router.go:53-65`) SILENTLY IGNORES op-level Servers for
      # request matching. The validator only consults root-level
      # (api.layerv.*) and path-item-level. We deliberately don't use
      # path-item-level here because that triggers a leak bug in the
      # same router file (`servers, err = makeServers(...)` mutates a
      # shared variable, so the path-level Servers leak forward to
      # every subsequent path in InMatchingOrder, 404ing them from
      # api.layerv.*).
      #
      # Workaround: `middleware.RewriteBootstrapHostForValidator`
      # (mounted before the validator in router.go) rewrites the
      # request URL.Host from `bootstrap.layerv.<tld>` to
      # `api.layerv.<tld>` when the path is /v1/agent/bootstrap, so
      # the validator's root-Servers match passes. The handler runs
      # unchanged. Once kin-openapi v0.135's op-level Servers
      # behavior is fixed upstream, the middleware can be removed
      # and this op-level block becomes the runtime gate.
      servers:
        - url: https://bootstrap.layerv.ai
          description: Production bootstrap endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentBootstrapRequest'
            example:
              public_key: "62cFrVBeF1Tl7lUAJ9MNa9lFykVf6D7mNqLaEYggFN0="
              agent_id: "prod-us-east-1"
              hostname: "agent-7f8c9b-prod-use1"
              version: "1.4.2"
      responses:
        '200':
          description: Agent registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentBootstrapResponse'
              example:
                data:
                  agent_id: "prod-us-east-1"
                  registered_at: "2026-05-10T15:30:00Z"
                  nhp_server_peer:
                    public_key_b64: "EqHTVFh6t5DUK1aA2nkq82x5HLRqrO6FPqxcwSfKCl8="
                    host: "nhp.layerv.ai"
                    port: 62206
                    expire_time: 0
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: |
            Concurrent registration conflict for the same `agent_id`.

            **Retry**: re-issue the same request body with exponential
            backoff (e.g., 1s / 4s / 16s, capped at 60s). Registration
            is idempotent on `agent_id`, so resending the same
            `public_key` is safe. Do NOT regenerate the keypair on
            409.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/qurls:
    post:
      tags:
        - QURLs
      summary: Create a new qURL
      description: |
        Creates a qURL access token for a target URL. Auto-creates a resource
        if none exists for the target URL.
      operationId: createQurl
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQurlRequest'
            example:
              target_url: "https://internal.example.com/dashboard"
              expires_in: "7d"
              one_time_use: false
              max_sessions: 5
              description: "Admin dashboard access for external contractor"
              metadata:
                customer_id: "cust_123"
                ticket: "JIRA-456"
              access_policy:
                ip_allowlist: ["192.168.1.0/24"]
                geo_allowlist: ["US", "CA"]
                ai_agent_policy:
                  deny_categories: ["gptbot", "commoncrawl", "bytedance"]
      responses:
        '201':
          description: qURL created successfully
          headers:
            Location:
              description: URL of the created qURL resource
              schema:
                type: string
                format: uri
                example: "https://api.qurl.link/v1/qurls/r_k8xqp9h2sj9"
            Idempotency-Replayed:
              description: Present and set to "true" if response was replayed from cache
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQurlResponse'
              example:
                data:
                  resource_id: "r_k8xqp9h2sj9"
                  qurl_link: "https://qurl.link/at_abc123def456ghi789"
                  qurl_site: "https://r_k8xqp9h2sj9.qurl.site"
                  expires_at: "2024-01-15T10:30:00Z"
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: |
            An active resource already exists for this `target_url`
            with a different `type`. Returned with code
            `resource_type_conflict`. Resolve by using the existing
            resource's id (mint via `POST /v1/resources/{id}/qurls`),
            by tombstoning the existing resource, or by submitting a
            new `target_url`.

            > **Note — idempotency cache.** The idempotency cache
            > stores 409 responses under the request's
            > `Idempotency-Key` for the standard 24-hour TTL. A caller
            > that hits this 409, remediates the conflict (e.g. by
            > tombstoning the existing resource), and retries with the
            > *same* `Idempotency-Key` will receive the cached 409
            > rather than a fresh evaluation. **Use a new
            > `Idempotency-Key` on the post-remediation retry.**
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - QURLs
      summary: List qURLs
      description: |
        Lists resources owned by the authenticated user. Each resource groups
        qURLs sharing the same target URL.
        Supports filtering by status and date ranges, with cursor-based pagination.
      operationId: listQurls
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - name: limit
          in: query
          description: Maximum number of results to return (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: |
            Pagination cursor from previous response.
            Changing the sort parameter resets pagination to the first page.
          schema:
            type: string
        - name: status
          in: query
          description: |
            Filter by status. Valid values are `active` and `revoked`;
            multiple values may be supplied as a comma-separated list.
            Invalid values are rejected by the handler with the standard
            invalid_filter error envelope.
          schema:
            type: string
            example: active,revoked
        - name: created_after
          in: query
          description: Filter by creation date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          description: Filter by creation date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: expires_before
          in: query
          description: Filter by expiration date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: expires_after
          in: query
          description: Filter by expiration date (RFC3339)
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: |
            Sort field and direction (field:direction).
            Valid fields: created_at, expires_at.
            Direction: asc or desc (default: desc).
            Sort order is consistent across pages.
          schema:
            type: string
            example: "created_at:desc"
        - name: q
          in: query
          description: |
            Search query string (case-insensitive).
            Searches across description and target_url fields.
          schema:
            type: string
            maxLength: 200
            example: "dashboard"
      responses:
        '200':
          description: List of qURLs
          headers:
            ETag:
              description: Entity tag for caching
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QurlListResponse'
              example:
                data:
                  - resource_id: "r_k8xqp9h2sj9"
                    target_url: "https://internal.example.com/dashboard"
                    status: "active"
                    created_at: "2024-01-08T10:30:00Z"
                    expires_at: "2024-01-15T10:30:00Z"
                    description: "Admin dashboard access"
                    qurl_site: "https://r_k8xqp9h2sj9.qurl.site"
                  - resource_id: "r_lm2np4q8rt7"
                    target_url: "https://api.example.com/reports"
                    status: "active"
                    created_at: "2024-01-07T14:00:00Z"
                    expires_at: "2024-01-14T14:00:00Z"
                    qurl_site: "https://r_lm2np4q8rt7.qurl.site"
                meta:
                  request_id: "req_abc123"
                  page_size: 2
                  has_more: true
                  next_cursor: "eyJyIjoicl9MbTJOcDRROHJUNyJ9"
        '304':
          description: Not Modified (ETag match)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/qurls/{id}:
    get:
      tags:
        - QURLs
      summary: Get a qURL
      description: Retrieves a resource and its qURL tokens by resource or qURL display ID.
      operationId: getQurl
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - $ref: '#/components/parameters/QurlId'
      responses:
        '200':
          description: qURL details
          headers:
            ETag:
              description: Entity tag for caching
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QurlResponse'
              example:
                data:
                  resource_id: "r_k8xqp9h2sj9"
                  target_url: "https://internal.example.com/dashboard"
                  status: "active"
                  created_at: "2024-01-08T10:30:00Z"
                  expires_at: "2024-01-15T10:30:00Z"
                  description: "Admin dashboard access"
                  qurl_site: "https://r_k8xqp9h2sj9.qurl.site"
                meta:
                  request_id: "req_abc123"
        '304':
          description: Not Modified (ETag match)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - QURLs
      summary: Delete a qURL
      description: |
        Revokes a resource and all its qURLs. Requires a resource ID (r_ prefix).
        To revoke a single token, use DELETE /v1/resources/{resource_id}/qurls/{qurl_id}.
      operationId: deleteQurl
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/QurlId'
      responses:
        '204':
          description: qURL deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - QURLs
      summary: Update a qURL
      description: Updates resource-level metadata (description, tags, expiration).
      operationId: updateQurl
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/QurlId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQurlRequest'
            examples:
              relative:
                summary: Extend by relative duration
                value:
                  extend_by: "7d"
              absolute:
                summary: Set absolute expiration
                value:
                  expires_at: "2024-01-22T10:30:00Z"
      responses:
        '200':
          description: qURL updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QurlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/qurls/{id}/mint_link:
    post:
      tags:
        - QURLs
      summary: Mint an access link
      description: |
        Creates a new qURL access token for an existing resource.
        The link can be shared with users who need temporary access to the resource.
      operationId: mintLink
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/QurlId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MintLinkRequest'
            example:
              expires_at: "2024-01-10T10:30:00Z"
      responses:
        '201':
          description: Access link created
          headers:
            Location:
              description: The minted access link URL
              schema:
                type: string
                format: uri
                example: "https://qurl.link/at_xyz789abc123def456"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MintLinkResponse'
              example:
                data:
                  qurl_link: "https://qurl.link/at_xyz789abc123def456"
                  expires_at: "2024-01-10T10:30:00Z"
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/qurls/batch:
    post:
      tags:
        - QURLs
      summary: Batch create qURLs
      description: |
        Creates multiple qURL resources in a single request.
        Returns 201 if all succeed, 207 Multi-Status if mixed results, or 400 if all fail.

        **Validation is atomic:** if any item fails input validation (e.g. invalid tags,
        description too long), the entire batch is rejected with per-item error details.
        Items that passed validation are marked as "skipped" in the results.
      operationId: batchCreateQurls
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateRequest'
            example:
              items:
                - target_url: "https://app1.example.com"
                  expires_in: "7d"
                  access_policy:
                    ai_agent_policy:
                      allow_categories: ["claude", "perplexity"]
                - target_url: "https://app2.example.com"
                  expires_in: "24h"
                  one_time_use: true
      responses:
        '201':
          description: All qURLs created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateResponse'
              example:
                data:
                  succeeded: 2
                  failed: 0
                  results:
                    - index: 0
                      success: true
                      resource_id: "r_k8xqp9h2sj9"
                      qurl_link: "https://qurl.link/at_abc123"
                      qurl_site: "https://r_k8xqp9h2sj9.qurl.site"
                      expires_at: "2024-01-15T10:30:00Z"
                    - index: 1
                      success: true
                      resource_id: "r_lm2np4q8rt7"
                      qurl_link: "https://qurl.link/at_def456"
                      qurl_site: "https://r_lm2np4q8rt7.qurl.site"
                      expires_at: "2024-01-09T10:30:00Z"
                meta:
                  request_id: "req_abc123"
        '207':
          description: |
            Mixed results (some succeeded, some failed). Per-item
            failures carry a `code` field SDK consumers can branch on.
            Today the per-item codes are:
              - `resource_type_conflict` — the item's `target_url`
                already has an active resource of a different `type`
                for the same owner. Mirrors the single-item
                `POST /v1/qurls` 409 surface. Remediate by re-submitting
                against the existing resource's id (mint via
                `POST /v1/resources/{id}/qurls`), tombstoning the
                existing resource, or sending a new `target_url`.
              - `creation_failed` — every other per-item failure
                (validation rejections, quota, transient repo errors).
                The `message` field carries the human-readable detail;
                structured codes for the failure kinds bucketed here
                are tracked as a future enhancement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateResponse'
              example:
                data:
                  succeeded: 1
                  failed: 1
                  results:
                    - index: 0
                      success: true
                      resource_id: "r_k8xqp9h2sj9"
                      qurl_link: "https://qurl.link/at_abc123"
                      qurl_site: "https://r_k8xqp9h2sj9.qurl.site"
                      expires_at: "2024-01-15T10:30:00Z"
                    - index: 1
                      success: false
                      error:
                        code: "resource_type_conflict"
                        message: "existing resource for this target_url has a different type"
                    - index: 2
                      success: false
                      error:
                        code: "creation_failed"
                        message: "invalid expires_in format"
                meta:
                  request_id: "req_abc123"
        '400':
          description: |
            All items failed or invalid request. Per-item `code` field
            on each failed item carries the same vocabulary as the 207
            response (`resource_type_conflict` or `creation_failed`).
            SDK consumers should branch on per-item codes rather than
            the outer HTTP status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/resources:
    get:
      tags:
        - Resources
      summary: List resources
      description: |
        Lists resources (target URL groupings) for the authenticated user.
        Each resource groups qURLs that share the same target URL. The response
        includes a `qurl_count` for each resource showing how many qURL token
        rows exist for it, including revoked or expired rows still awaiting
        background TTL cleanup. Use GET /v1/resources/{id} to see a bounded
        preview of individual qURLs.

        **Filtering by alias:** pass `?alias={alias}` to look up a specific
        owner-scoped alias. Returns a list of 0 or 1 items. An empty
        list means the caller does not own a resource with that alias
        (tenant-isolated: aliases for other owners are not visible).
        Reserved-word and format errors on the `alias` query surface as
        `400 alias_reserved` / `400 alias_invalid_format`. When `alias` is
        supplied, `cursor` / `limit` are ignored (the result is bounded by
        the per-owner alias uniqueness invariant). Alias lookup is mutually
        exclusive with `slug`, `status`, and `type`.

        **Filtering by tunnel slug:** pass `?slug={slug}` to look up a
        specific owner-scoped tunnel resource by immutable sidecar slug.
        Returns a list of 0 or 1 active tunnel resources. Alias and slug
        filters are mutually exclusive, and slug lookup cannot be combined
        with `status` or `type`. Restricted `purpose=tunnel_bootstrap` API
        keys cannot use this read path; sidecars should use the
        idempotent `POST /v1/resources` find-or-create flow for their bound
        slug.

        **Filtering by type:** pass `?type=url` for target-URL resources
        or `?type=tunnel` for qURL Connector resources. `transit`
        (connector-owned) resources are intentionally not listed here; use the
        connector installation endpoints for connector reporting.

        Pagination cursors on paginated list paths are scoped to the
        `type` / `status` filter set that produced them. Reusing a cursor
        with different `type` or `status` filters returns
        `400 invalid_request`; restart pagination when changing filters.
        Alias and slug filters are bounded point lookups and ignore
        `cursor` / `limit`.
      operationId: listResources
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return (1-100, default 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: alias
          in: query
          description: |
            Filter to a single resource by owner-scoped alias. Same format
            as `CreateResourceRequest.alias` — 3–64 chars, must start with
            a lowercase letter, end alphanumeric, hyphens allowed inside.
            Tenant-isolated: only resources owned by the authenticated
            caller are visible, so the same alias string can resolve for
            two different callers without collision. Mutually exclusive with
            `slug`, `status`, and `type`; when supplied, `cursor` / `limit`
            are ignored.
          schema:
            type: string
            minLength: 3
            maxLength: 64
            pattern: '^[a-z][a-z0-9-]{1,62}[a-z0-9]$'
        - name: slug
          in: query
          description: |
            Filter to a single active tunnel resource by owner-scoped immutable
            slug. Same format as `CreateResourceRequest.slug` — 3–64 chars,
            must start with a lowercase letter, end alphanumeric, hyphens
            allowed inside. Tenant-isolated: only resources owned by the
            authenticated caller are visible. Mutually exclusive with `alias`,
            `status`, and `type`; when supplied, `cursor` / `limit` are
            ignored.
          schema:
            type: string
            minLength: 3
            maxLength: 64
            pattern: '^[a-z][a-z0-9-]{1,62}[a-z0-9]$'
        - name: status
          in: query
          description: |
            Filter by resource status. Use `active`, `revoked`, or a
            comma-separated combination without spaces. Invalid values are
            rejected by the handler with the standard invalid_filter error
            envelope.
          schema:
            type: string
            pattern: '^(active|revoked)(,(active|revoked))*$'
            example: active,revoked
        - name: type
          in: query
          description: |
            Filter resource list rows by dashboard resource type. Supported
            values are `url` and `tunnel`. Connector-owned resources are
            intentionally surfaced through `/v1/connectors/installations`
            instead of this resource list.
          schema:
            type: string
            enum: [url, tunnel]
      responses:
        '200':
          description: Resource list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Resources
      summary: Create resource
      description: |
        Explicitly create a resource (register a target URL before creating
        qURLs for it). If a resource already exists for the same target URL
        and owner, the existing resource is returned (idempotent).

        **Type must match the existing row.** Dedup matches on
        `(owner, target_url)`. If a row already exists for that pair
        and your `type` disagrees with it, the server returns
        `409 resource_type_conflict` rather than silently surfacing
        the existing row — `url` and `transit` have different read-
        side redaction guarantees, and inheriting the wrong one
        would invert the caller's privacy expectations. Same-`type`
        duplicates remain idempotent. Full table is in the
        `CreateResourceRequest` schema.

        Alias semantics on POST (full rules in the `CreateResourceRequest`
        schema description):

          - New resource + new alias: creates and binds.
          - Idempotent: same target URL + matching alias (or no alias)
            returns the existing resource.
          - 409 `resource_alias_mismatch`: same target URL but the
            request supplies an alias that disagrees with the existing
            binding (including "supplies an alias when the existing
            resource has none"). Remediation: use `PATCH
            /v1/resources/{id}` with `alias` to set or rebind.
          - 409 `alias_in_use`: the alias is already claimed by another
            of your resources (sentinel collision). Remediation: pick
            a different alias.
      operationId: createResource
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceRequest'
      responses:
        '201':
          description: Resource created
          headers:
            Location:
              description: |
                Canonical URL of the created resource (RFC 7231 §7.1.2).
                Mirrors `POST /v1/qurls` so resource-create has parity
                with qURL-create and SDKs can read the new resource's
                URL from a single header rather than re-construct it
                from the response body.
              schema:
                type: string
                format: uri
                example: "https://api.qurl.link/v1/resources/r_k8xqp9h2sj9"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: |
            Returned with one of three distinct error codes:

              - `alias_in_use`: the alias is already claimed by another
                resource owned by the caller (sentinel collision).
                Remediation: pick a different alias, or release the
                conflict via `PATCH alias: null` / `DELETE` on the
                owning resource.
              - `resource_alias_mismatch`: the request's `target_url`
                resolves to an existing resource whose alias disagrees
                with the request (or that has no alias while the
                request supplies one). The endpoint refuses to silently
                rebind on what looks like an idempotent create.
                Remediation: rebind explicitly via `PATCH
                /v1/resources/{id}`.
              - `resource_type_conflict`: the request's `target_url`
                resolves to an existing resource whose `type` disagrees
                with the request. The endpoint refuses to silently
                surface a row of the wrong type because the read-side
                redaction contract differs by `type`. Remediation:
                `type` is immutable on an existing resource (PATCH
                cannot retype). Either reuse the existing row as-is,
                or revoke it via `DELETE /v1/resources/{id}` and retry
                with the desired `type`. See the cross-type idempotency
                block on `CreateResourceRequest` for the full table.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '410':
          description: |
            Returned by the tunnel `find_or_create` flow when the
            supplied `slug` resolves to a tombstoned resource. The body
            carries the standard problem-details envelope plus
            `meta.tombstone` when the tombstone metadata can be loaded.
            Delete the tombstoned resource or choose a fresh slug before
            retrying.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/connectors/installations:
    get:
      tags:
        - Connectors
      summary: List connector installations
      description: |
        Lists normalized connector installations for the authenticated
        customer. Connector plugins own platform-specific state such as
        Slack workspaces, Discord guilds, or storage buckets; this endpoint
        provides the dashboard with a stable, plugin-neutral summary. Connector
        data may be eventually consistent with qURL resource activity.
      operationId: listConnectorInstallations
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return (1-100, default 20)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Connector installation list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorInstallationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/resources/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Resource ID
        schema:
          type: string
          pattern: '^r_[a-z0-9_-]{11}$'
    get:
      tags:
        - Resources
      summary: Get resource details
      description: |
        Get resource details including all qURLs associated with it.
        Each qURL has its own label, expiry, access policy, and NHP
        access rules — independent of other qURLs on the same resource.
      operationId: getResource
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Resource details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: |
            Resource lifecycle has closed and the resource is no
            longer mintable. The body carries the standard
            problem-details envelope plus a `meta.tombstone` field
            with the read-only audit trail. The resource will be
            hard-deleted after the tombstone retention window
            expires; until then this metadata remains queryable
            via GET.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Resources
      summary: Update resource metadata
      description: |
        Update resource metadata (tags, description, preserve_host,
        custom_domain, alias).

        **Alias semantics (RFC 7396 JSON Merge Patch):** the `alias`
        field is tri-valued — omit for no change, send a string to
        set or rebind, send `null` to clear the existing alias and
        release the uniqueness sentinel.

        **Atomicity:** all field writes within a single PATCH commit
        atomically — the resource never lands in a partial state where
        some fields applied and others did not. The alias-mutation
        path is the implementation tripwire: an alias write touches
        two rows (the resource row and a `(owner_id, alias)`
        uniqueness-sentinel row), and both writes — plus any `tags` /
        `description` / `preserve_host` fields in the same body —
        bundle into a single `TransactWriteItems` so a `409
        alias_in_use` rolls the whole PATCH back.

        **`custom_domain` exclusion:** `custom_domain` set/clear runs
        external DNS verification and a uniqueness query that don't
        fold into the alias transaction. To preserve atomicity,
        `custom_domain` and any alias mutation are mutually exclusive
        in the same PATCH (returns `400 mutually_exclusive_fields`).
        Issue the two mutations as separate PATCH requests when both
        are needed.
      operationId: updateResource
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateResourceRequest'
      responses:
        '200':
          description: Resource updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Alias already in use by another resource. The entire PATCH
            is rolled back — all fields sent in the same request are
            NOT persisted.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '410':
          description: |
            Resource is tombstoned and rejects mutations. The
            resource's lifecycle has closed; mutating fields like
            description/tags/custom_domain/alias post-tombstone would
            silently change the audit-trail metadata a customer reads
            back via `meta.tombstone`. Body MAY carry the tombstone
            metadata in `meta.tombstone`; the field is absent on the
            rare re-fetch race path (defensive SDKs should treat
            presence as optional).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Resources
      summary: Revoke resource and all its qURLs
      description: |
        Revokes a resource. All qURLs associated with the resource become
        inaccessible because token resolution checks the resource status.
      operationId: deleteResource
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Resource revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/resources/{id}/qurls:
    parameters:
      - name: id
        in: path
        required: true
        description: Resource ID
        schema:
          type: string
          pattern: '^r_[a-z0-9_-]{11}$'
    post:
      tags:
        - Resources
      summary: Mint a qURL against an existing resource
      description: |
        Creates a new qURL against the resource identified by `{id}`.
        Use this endpoint when you already have a resource ID; use
        `POST /v1/qurls` to create a qURL from a `target_url` directly.

        A request body is required, but every field inside it is
        optional — to mint with the owner's plan defaults, send `{}`.
        (The body is required at the wire level so empty `POST`s are
        rejected with a clear validation error rather than silently
        succeeding.)

        Status hierarchy:

          - 404 `resource_not_found` if no resource with this ID exists.
          - 403 `access_denied` if the resource exists but belongs to
            another owner.
          - 403 `tunnel_disabled` if the resource is a tunnel and
            tunnel minting is currently unavailable.
          - 400 `revoked` if the resource is revoked.
          - 400 `invalid_input` for malformed or out-of-range field
            values (e.g. a `session_duration` like `5x`).
          - 400 `invalid_session_duration` if `session_duration` exceeds
            the resource's cap.
      operationId: createQurlForResource
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      # required: true matches wire-level reality — oapi-codegen's strict
      # server binds the request body unconditionally, so a literal empty
      # body returns 400 at the bind step. Accept-all-defaults is still
      # one keystroke: send `{}`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQurlForResourceRequest'
            example:
              expires_in: "7d"
              max_sessions: 5
              access_policy:
                ip_allowlist: ["192.168.1.0/24"]
                geo_allowlist: ["US", "CA"]
              label: "Alice from Acme"
      responses:
        '201':
          description: qURL created successfully
          headers:
            Location:
              description: URL of the created qURL resource
              schema:
                type: string
                format: uri
                example: "https://api.qurl.link/v1/qurls/r_k8xqp9h2sj9"
            Idempotency-Replayed:
              description: Present and set to "true" if response was replayed from cache
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateQurlResponse'
              example:
                data:
                  resource_id: "r_k8xqp9h2sj9"
                  qurl_link: "https://qurl.link/#at_k8xqp9h2sj9lx7r4abcdef"
                  qurl_site: "https://r_k8xqp9h2sj9.qurl.site"
                  expires_at: "2024-01-15T10:30:00Z"
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: |
            Resource lifecycle has closed and rejects new qURL
            mints. Cannot mint new qURLs against this resource;
            create a fresh resource for a new target if needed.
            Body MAY carry `meta.tombstone` with the read-only
            audit trail; the field is absent on the rare
            consistency-race path (defensive SDKs should treat
            presence as optional).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/resources/{id}/qurls/{qurl_id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Resource ID
        schema:
          type: string
          pattern: '^r_[a-z0-9_-]{11}$'
      - name: qurl_id
        in: path
        required: true
        description: qURL display ID (q_ + 11 hex chars)
        schema:
          type: string
          pattern: '^q_[0-9a-f]{11}$'
    delete:
      tags:
        - Resources
      summary: Revoke a specific qURL
      description: |
        Revokes a specific qURL token. The qURL must be active. Other qURLs
        on the same resource are not affected.
      operationId: revokeResourceQurl
      security:
        - bearerAuth: []
      responses:
        '204':
          description: qURL revoked
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: qURL is not active
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Resources
      summary: Update a specific qURL
      description: |
        Update expiry, label, access policy, or max_sessions on a specific qURL token.
        The qURL must be active. At least one field must be provided.
      operationId: updateResourceQurl
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQurlTokenRequest'
      responses:
        '200':
          description: qURL updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QurlSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: qURL is not active
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/resources/{id}/sessions:
    get:
      tags:
        - Sessions
      operationId: listResourceSessions
      summary: List active sessions for a resource
      description: Returns all active access sessions for the specified resource.
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - name: id
          in: path
          required: true
          description: Resource ID (r_ prefix)
          schema:
            type: string
      responses:
        '200':
          description: Active sessions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Sessions
      operationId: terminateAllResourceSessions
      summary: Terminate all active sessions for a resource
      description: Immediately terminates all active sessions for the specified resource.
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - name: id
          in: path
          required: true
          description: Resource ID (r_ prefix)
          schema:
            type: string
      responses:
        '200':
          description: Sessions terminated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionTerminateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/resources/{id}/sessions/{session_id}:
    delete:
      tags:
        - Sessions
      operationId: terminateResourceSession
      summary: Terminate a specific session
      description: Immediately terminates a specific active session.
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - name: id
          in: path
          required: true
          description: Resource ID (r_ prefix)
          schema:
            type: string
        - name: session_id
          in: path
          required: true
          description: Session ID to terminate
          schema:
            type: string
      responses:
        '204':
          description: Session terminated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/quota:
    get:
      tags:
        - Quota
      summary: Get quota information
      description: Retrieves usage quota for the authenticated user.
      operationId: getQuota
      security:
        - bearerAuth: [qurl:read]
      responses:
        '200':
          description: Quota information
          headers:
            ETag:
              description: Entity tag for caching
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaResponse'
              example:
                data:
                  plan: "growth"
                  period_start: "2024-01-01T00:00:00Z"
                  period_end: "2024-02-01T00:00:00Z"
                  rate_limits:
                    create_per_minute: 200
                    create_per_hour: 10000
                    list_per_minute: 120
                    resolve_per_minute: 300
                    max_active_qurls: 1000
                    max_tokens_per_qurl: 50
                    max_expiry_seconds: 2592000
                  usage:
                    qurls_created: 150
                    active_qurls: 45
                    active_qurls_percent: 0.45
                    total_accesses: 1250
                meta:
                  request_id: "req_abc123"
        '304':
          description: Not Modified (ETag match)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/usage/current-period:
    get:
      tags:
        - Usage
      summary: Get current billing period usage
      description: |
        Returns usage statistics for the current billing period, including
        the number of qURLs created, the user's tier, period dates, and a
        cost estimate for usage-based plans (Growth tier).
        Requires JWT authentication (dashboard endpoint).
      operationId: getUsageCurrentPeriod
      security:
        - bearerAuth: [qurl:read]
      responses:
        '200':
          description: Current period usage information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageCurrentPeriodResponse'
              example:
                data:
                  tier: "growth"
                  period_start: "2026-03-01T00:00:00Z"
                  period_end: "2026-03-31T23:59:59Z"
                  qurls_created: 150
                  active_qurls: 45
                  cost_estimate:
                    currency: "usd"
                    amount_cents: 1500
                    description: "150 qURLs x $0.10/qURL"
                meta:
                  request_id: "req_abc123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/usage/daily:
    get:
      tags:
        - Usage
      summary: Get daily usage breakdown
      description: |
        Returns a daily breakdown of qURL creation counts for the current
        billing period. Intended for dashboard chart rendering.
        Requires JWT authentication (dashboard endpoint).
      operationId: getUsageDaily
      security:
        - bearerAuth: [qurl:read]
      responses:
        '200':
          description: Daily usage breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageDailyResponse'
              example:
                data:
                  tier: "growth"
                  period_start: "2026-03-01T00:00:00Z"
                  period_end: "2026-03-31T23:59:59Z"
                  daily:
                    - date: "2026-03-01"
                      qurls_created: 12
                    - date: "2026-03-02"
                      qurls_created: 8
                    - date: "2026-03-03"
                      qurls_created: 15
                meta:
                  request_id: "req_abc123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/customer:
    get:
      tags:
        - Customer
      summary: Get customer profile
      description: |
        Returns the authenticated user's customer profile including tier,
        spending cap, usage count, and frozen status.
        Creates a free-tier record on first access (lazy provisioning).
        Requires JWT authentication (dashboard endpoint). API key authentication is not supported.
      operationId: getCustomer
      security:
        - bearerAuth: [qurl:read]
      responses:
        '200':
          description: Customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              example:
                data:
                  tier: "growth"
                  spending_cap_cents: 5000
                  current_period_usage: 42
                  frozen: false
                meta:
                  request_id: "req_abc123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      tags:
        - Customer
      summary: Update customer settings
      description: |
        Updates customer settings. Currently supports spending cap.
        Requires JWT authentication and growth or enterprise tier. API key authentication is not supported.
      operationId: updateCustomer
      security:
        - bearerAuth: [qurl:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Updated customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/billing/checkout:
    post:
      tags:
        - Billing
      summary: Create Stripe checkout session
      description: |
        Creates a Stripe Checkout session for plan upgrade.
        Returns a URL to redirect the user to Stripe's hosted checkout page.
        Requires JWT authentication (dashboard endpoint). API key authentication is not supported.

        The `plan` field selects which paid plan to check out into.
        Only purchasable plans are permitted (currently: `growth`); any
        other value is rejected with 400.
      operationId: createBillingCheckout
      security:
        - bearerAuth: [qurl:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingCheckoutRequest'
            example:
              plan: "growth"
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
              example:
                data:
                  url: "https://checkout.stripe.com/c/pay/cs_test_..."
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/billing/portal:
    post:
      tags:
        - Billing
      summary: Create Stripe billing portal session
      description: |
        Creates a Stripe Billing Portal session for managing subscriptions,
        payment methods, and invoices. Returns a URL to redirect the user.
        Requires JWT authentication (dashboard endpoint). API key authentication is not supported.
      operationId: createBillingPortal
      security:
        - bearerAuth: [qurl:write]
      responses:
        '200':
          description: Portal session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalSessionResponse'
              example:
                data:
                  url: "https://billing.stripe.com/p/session/..."
                meta:
                  request_id: "req_abc123"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/billing/invoices:
    get:
      tags:
        - Billing
      summary: List invoices
      description: |
        Returns the authenticated user's Stripe invoices.
        Requires JWT authentication (dashboard endpoint). API key authentication is not supported.
      operationId: listBillingInvoices
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - name: limit
          in: query
          description: Maximum number of invoices to return (default 25, max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        '200':
          description: Invoice list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceListResponse'
              example:
                data:
                  invoices:
                    - id: "in_1234"
                      amount_cents: 1500
                      status: "paid"
                      created_at: "2026-02-01T00:00:00Z"
                      pdf_url: "https://pay.stripe.com/invoice/..."
                meta:
                  request_id: "req_abc123"
                  has_more: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/domains:
    post:
      tags:
        - Domains
      summary: Register a custom domain
      description: |
        Registers a new custom domain for the authenticated user.
        Returns DNS records that must be configured before verification.
        Requires enterprise plan.
      operationId: registerDomain
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDomainRequest'
      responses:
        '201':
          description: Domain registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Domain already registered
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      tags:
        - Domains
      summary: List domains
      description: Lists custom domains for the authenticated user.
      operationId: listDomains
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - name: limit
          in: query
          description: Maximum number of domains to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/domains/{domain}:
    get:
      tags:
        - Domains
      summary: Get domain status
      description: Retrieves the status and DNS configuration for a custom domain.
      operationId: getDomain
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - $ref: '#/components/parameters/DomainName'
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - Domains
      summary: Remove domain
      description: Removes a custom domain registration.
      operationId: deleteDomain
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/DomainName'
      responses:
        '204':
          description: Domain removed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/domains/{domain}/verify:
    post:
      tags:
        - Domains
      summary: Trigger DNS verification
      description: |
        Triggers DNS verification for a custom domain.
        Checks TXT record, ACME CNAME, and traffic routing configuration.
      operationId: verifyDomain
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/DomainName'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainVerifyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Verification token has expired — use POST /v1/domains/{domain}/regenerate-token to get a new one
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/domains/{domain}/regenerate-token:
    post:
      tags:
        - Domains
      summary: Regenerate verification token
      description: |
        Regenerates the DNS verification token for a custom domain. The previous
        token is invalidated immediately. A new TXT record must be configured
        with the returned token before calling the verify endpoint.

        Only allowed for domains in `pending_verification` or `failed` status.
        The new token expires after 7 days.
      operationId: regenerateToken
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/DomainName'
      responses:
        '200':
          description: Token regenerated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Token regeneration not allowed for current domain status
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: Lists webhook endpoints owned by the authenticated user.
      operationId: listWebhooks
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - name: limit
          in: query
          description: Maximum number of webhooks to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'
              example:
                data:
                  - webhook_id: "wh_abc123def456ghij"
                    owner_id: "auth0|user123"
                    url: "https://example.com/webhooks/qurl"
                    events: ["qurl.created", "qurl.accessed"]
                    status: "active"
                    created_at: "2024-01-01T10:00:00Z"
                    updated_at: "2024-01-01T10:00:00Z"
                    failure_count: 0
                    last_delivery_success: true
                meta:
                  request_id: "req_abc123"
                  page_size: 1
                  has_more: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Webhooks
      summary: Create a webhook
      description: |
        Creates a new webhook endpoint. The secret is returned only once in the response.
        Store it securely - it cannot be retrieved later (only regenerated).
      operationId: createWebhook
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
            example:
              url: "https://example.com/webhooks/qurl"
              events: ["qurl.created", "qurl.accessed", "qurl.revoked"]
              description: "Production webhook for qURL events"
      responses:
        '201':
          description: Webhook created successfully
          headers:
            Location:
              description: URL of the created webhook resource
              schema:
                type: string
                format: uri
                example: "https://api.qurl.link/v1/webhooks/wh_abc123def456ghij"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponseWithSecret'
              example:
                data:
                  webhook_id: "wh_abc123def456ghij"
                  owner_id: "auth0|user123"
                  url: "https://example.com/webhooks/qurl"
                  secret: "whsec_K8xQp9H2sJ9Lx7R4AaBbCcDdEeFf..."
                  events: ["qurl.created", "qurl.accessed", "qurl.revoked"]
                  status: "active"
                  description: "Production webhook for qURL events"
                  created_at: "2024-01-08T10:30:00Z"
                  updated_at: "2024-01-08T10:30:00Z"
                  failure_count: 0
                  last_delivery_success: false
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
      callbacks:
        onEvent:
          '{$request.body#/url}':
            post:
              summary: Webhook event delivery
              description: |
                Event payload delivered to your webhook URL.

                Header names MUST be treated as case-insensitive per RFC 9110 §5.1. Every delivery carries:

                - `QURL-Signature` — HMAC-SHA256 of the raw request body, computed with your webhook secret. Verify on every request.
                - `QURL-Event` — the event type (e.g., `qurl.created`).
                - `QURL-Delivery` — a unique delivery ID for idempotent processing and log correlation.
                - `User-Agent` — fixed `QURL-Webhook/1.0`. Receivers with UA-based allowlists may match on this value.
              parameters:
                - name: QURL-Signature
                  in: header
                  required: true
                  description: HMAC-SHA256 of the raw request body, hex-encoded.
                  schema:
                    type: string
                    example: 'a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f60718293a4b5c6d7e8f90'
                - name: QURL-Event
                  in: header
                  required: true
                  description: Event type that triggered this delivery.
                  schema:
                    type: string
                    example: 'qurl.created'
                - name: QURL-Delivery
                  in: header
                  required: true
                  description: Unique delivery ID for log correlation and idempotent processing.
                  schema:
                    type: string
                    example: 'wd_abc123def456ghij'
                # `required: true` here means the producer (qurl-service) commits
                # to always sending this header, NOT that receivers must validate it.
                # The description below explicitly tells receivers not to reject on
                # UA mismatch.
                - name: User-Agent
                  in: header
                  required: true
                  description: |
                    Fixed identifier for outbound qURL webhook deliveries. We always send this value, so receivers MAY use it for UA-based allowlisting or log filtering — but receivers SHOULD NOT reject deliveries solely on a User-Agent mismatch (future minor versions may bump the suffix; match-on-prefix `QURL-Webhook/` is recommended).
                  schema:
                    type: string
                    enum: ['QURL-Webhook/1.0']
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/WebhookPayload'
              responses:
                '200':
                  description: Event received successfully

  /v1/webhooks/events:
    get:
      tags:
        - Webhooks
      summary: List available event types
      description: Returns all available webhook event types with descriptions.
      operationId: listWebhookEventTypes
      security:
        - bearerAuth: [qurl:read]
      responses:
        '200':
          description: List of event types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEventTypesResponse'
              example:
                data:
                  - type: "qurl.created"
                    category: "resource"
                    description: "A new qURL was created"
                  - type: "qurl.accessed"
                    category: "access"
                    description: "A qURL was successfully accessed"
                  - type: "qurl.access_denied"
                    category: "access"
                    description: "Access to a qURL was denied by policy"
                  - type: "quota.exceeded"
                    category: "quota"
                    description: "Quota limit reached, action blocked"
                meta:
                  request_id: "req_abc123"

  /v1/webhooks/{id}:
    get:
      tags:
        - Webhooks
      summary: Get a webhook
      description: Retrieves a single webhook by ID.
      operationId: getWebhook
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Webhooks
      summary: Update a webhook
      description: Updates a webhook's configuration.
      operationId: updateWebhook
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/WebhookId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
            example:
              events: ["qurl.created", "qurl.accessed", "qurl.revoked", "token.minted"]
              status: "active"
      responses:
        '200':
          description: Webhook updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Webhooks
      summary: Delete a webhook
      description: Deletes a webhook endpoint.
      operationId: deleteWebhook
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '204':
          description: Webhook deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{id}/secret:
    post:
      tags:
        - Webhooks
      summary: Regenerate webhook secret
      description: |
        Regenerates the signing secret for a webhook. The old secret is immediately
        invalidated. The new secret is returned only once - store it securely.
      operationId: regenerateWebhookSecret
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      responses:
        '200':
          description: Secret regenerated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponseWithSecret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/webhooks/{id}/deliveries:
    get:
      tags:
        - Webhooks
      summary: List webhook deliveries
      description: Lists recent delivery attempts for a webhook.
      operationId: listWebhookDeliveries
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - $ref: '#/components/parameters/WebhookId'
        - name: limit
          in: query
          description: Maximum number of deliveries to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        '200':
          description: List of delivery attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'
              example:
                data:
                  - delivery_id: "wd_abc123def456ghij"
                    webhook_id: "wh_abc123def456ghij"
                    event_type: "qurl.accessed"
                    status: "success"
                    response_code: 200
                    duration_ms: 145
                    retry_count: 0
                    created_at: "2024-01-08T10:35:00Z"
                    completed_at: "2024-01-08T10:35:00Z"
                meta:
                  request_id: "req_abc123"
                  page_size: 1
                  has_more: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/api-keys:
    post:
      tags:
        - API Keys
      summary: Create a new API key
      description: |
        Creates a new API key for the authenticated user.
        The plaintext API key is returned only once in the response - store it securely.
        Requires JWT authentication (API keys cannot create API keys).
      operationId: createApiKey
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/APIKeyMintIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
            example:
              name: "Production integration"
              scopes: ["qurl:read", "qurl:write"]
      responses:
        '201':
          description: API key created successfully.
          headers:
            Location:
              description: URL of the created API key resource
              schema:
                type: string
                format: uri
                example: "https://api.qurl.link/v1/api-keys/key_abc123def456"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
              example:
                data:
                  key_id: "key_abc123def456"
                  api_key: "lv_live_a3x9Kp2mN8qR5sT7wY0zBcDfGhJkLmNp"
                  key_prefix: "lv_live_a3x9"
                  name: "Production integration"
                  scopes: ["qurl:read", "qurl:write"]
                  status: "active"
                  created_at: "2024-01-08T10:30:00Z"
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Forbidden. Either:
            - API key auth was used (JWT required for key management), or
            - Plan key limit reached (free: 3, growth: 50). Error code: `api_key_limit`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            The supplied `Idempotency-Key` was previously used with a
            different request body. Send the original body or use a
            fresh key.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          description: |
            Transient failure while processing the idempotent request.
            Retry the same request with the same `Idempotency-Key`.
          headers:
            Retry-After:
              description: Advisory delay before retrying (seconds).
              schema:
                type: integer
                example: 1
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    get:
      tags:
        - API Keys
      summary: List API keys
      description: |
        Lists API keys owned by the authenticated user.
        The plaintext API key is never returned in list responses.
        Requires JWT authentication (API keys cannot list API keys).
      operationId: listApiKeys
      security:
        - bearerAuth: [qurl:read]
      parameters:
        - name: limit
          in: query
          description: Maximum number of results to return (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
        - name: status
          in: query
          description: Filter by key status. Defaults to "active" to exclude revoked keys.
          schema:
            type: string
            enum: [active, revoked, all]
            default: active
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyListResponse'
              example:
                data:
                  - key_id: "key_abc123def456"
                    key_prefix: "lv_live_a3x9"
                    name: "Production integration"
                    scopes: ["qurl:read", "qurl:write"]
                    status: "active"
                    created_at: "2024-01-08T10:30:00Z"
                    last_used_at: "2024-01-10T14:22:00Z"
                meta:
                  request_id: "req_abc123"
                  page_size: 1
                  has_more: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/api-keys/{key_id}:
    patch:
      tags:
        - API Keys
      summary: Update an API key
      description: |
        Updates the name or scopes of an existing API key.
        Requires JWT authentication (API keys cannot update API keys).
        If neither name nor scopes are provided, the existing key is returned unchanged (no-op).
      operationId: updateApiKey
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - name: key_id
          in: path
          required: true
          description: API key identifier
          schema:
            type: string
            pattern: '^key_[A-Za-z0-9]{12}$'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiKeyRequest'
            example:
              name: "Updated key name"
              scopes: ["qurl:read"]
      responses:
        '200':
          description: API key updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyResponse'
              example:
                data:
                  key_id: "key_abc123def456"
                  key_prefix: "lv_live_a3x9"
                  name: "Updated key name"
                  scopes: ["qurl:read"]
                  status: "active"
                  created_at: "2024-01-08T10:30:00Z"
                  last_used_at: "2024-01-10T14:22:00Z"
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
        - API Keys
      summary: Revoke an API key
      description: |
        Revokes an API key (soft delete). The key status is set to "revoked"
        and a TTL is set for automatic cleanup after 30 days.
        Requires JWT authentication (API keys cannot revoke API keys).
      operationId: revokeApiKey
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - name: key_id
          in: path
          required: true
          description: API key identifier
          schema:
            type: string
            pattern: '^key_[A-Za-z0-9]{12}$'
      responses:
        '204':
          description: API key revoked successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/access-codes/redeem:
    post:
      tags:
        - Access Codes
      summary: Redeem an access code
      description: |
        Redeems an access code to obtain a time-limited access link to a protected resource.
        This endpoint is public and does not require authentication.

        The response contains a redirect URL. The client should redirect the user to this URL
        to complete resource access.

        Bot protection is applied: submissions with a non-empty honeypot field or elapsed time
        under 3 seconds receive a fake success response.
      operationId: redeemAccessCode
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedeemAccessCodeRequest'
            example:
              code: "ac_k8xqp9h2sj9lx7r4abcdef"
              honeypot: ""
              elapsed_ms: 5200
      responses:
        '200':
          description: Access code redeemed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemAccessCodeResponse'
              example:
                data:
                  redirect_url: "https://qurl.link/#at_k8xqp9h2sj9lx7r4abcdef"
                meta:
                  request_id: "req_abc123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/access-codes:
    post:
      tags:
        - Access Codes
      summary: Create an access code
      description: |
        Creates a new access code for a qURL resource. The plaintext code is returned only
        once in the response - store it securely.

        Requires system-tier account. The resource must exist and be owned by the authenticated user.
      operationId: createAccessCode
      security:
        - bearerAuth: [qurl:write]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessCodeRequest'
            example:
[...]
